<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
var mark=[10,'hai',36,83,]
for(var i=0;i<mark.length;i++)
 {
    console.log(mark[i])
    
}

for(var item of mark)
{
    console.log(item)
    
} 




// var mark=[10,'hai',36,83,]
// var total=[100,399,400,554]
// var num=mark.concat(total)
// console.log(num)

// mark.push('hello',45)
// // mark.pop()
// // mark.pop()
//  //mark.shift()
// mark.unshift('how')
// mark[1]=56
// console.log(mark)
    </script>
    
</body>
</html>