{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/browser.css' %}">
</head>
<body>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing<br/>
         natus ab, fuga qui nulla dolore vero quo iste aliquid tempore? Excepturi, facere commodi?
         Lorem ipsum dolor sit amet consectetur adipisicing<br/>
         natus ab, fuga qui nulla dolore vero quo iste aliquid tempore? Excepturi, facere commodi?
         Lorem ipsum dolor sit amet consectetur adipisicing<br/>
         natus ab, fuga qui nulla dolore vero quo iste aliquid tempore? Excepturi, facere commodi?Lorem ipsum dolor sit amet consectetur adipisicing<br/>
         natus ab, fuga qui nulla dolore vero quo iste aliquid tempore? Excepturi, facere commodi?

    </div>
    <div>hai</div>
    
</body>
</html>