<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var a=Number(prompt('enter a number'))
        var found=false;
        var count=0;
        var num=[10,20,30,40,10,50]
        for(i=0;i<num.length;i++)
        {
            if(a==num[i])
            {
                count++;

            }

        }
        console.log(count)
        if(found==true)
        {
            console.log('Elements found')
        }
    </script>
</body>
</html>