<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1 id='hone'>hai</h1>
    <p class="p1">hello</p>
    <p class="p1" id='how' onmouseover="how()">how are you</p>
    <button id='btn' onclick="changetext()"> hai</button>
    <script>

        var h=document.getElementById('hone')
        console.log(h)
// p=document.getElementsByTagName('p')
// console.log(p[0])
// p2=document.getElementsByClassName('p1')
// console.log(p2)


function changetext()
{
    h.innerHTML='wow'
    h.align='center'
    h.style.color='red'
    h.setAttribute('class','two')
    // h.remove()
    ne=document.createElement("div")
    ne.innerHTML='helllllo'
    document.body.appendChild(ne)

}


function how()
{
    document.getElementById('how').innerHTML='welcome'
} -->




    <!-- </script> -->




<!-- 
<input type="text" id='text1'><br/>
<input type="text" id='text2'><br/>
<button id='btn1'>+</button>
<button id='btn2'>-</button>
<button id='btn3'>*</button>
<button id='btn4'>/</button> -->






<!-- <h1>hii</h1>
<p id="onr">how are you</p> -->


<button id="button" onclick="btn()">click</button>
<div id="d1">submit</div>
<script>
    function btn()
    {
        document.getElementById('d1').innerHTML="SUBMIT"
        document.getElementById('d1').style.color="red"
        document.getElementsById('button').innerHTML="clicked"

    }

</script>

</body>
</html>