<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>

        var str=['ram ','ravi','mom','hello'] 
        var str.length
        for(i=0;i<str[i].length;i++)
        {
        for(i=0;i<str[i].length/2;i++)
        {
    
        if (str[i] != str[i][str[i].length - 1 - i])
{
        console.log("not palindrom")
        break;
}
else
     {
        console.log("number is palindrom")
    }
}




            console.log(str[i])
        }
    </script>
</body>
</html>