<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>


//print the number is found or notfound
// var a=Number(prompt('Enter the number'))

// var n=[10,90,70,58,46]
// for(var i=0;i<n.length;i++)
// {
// console.log(n[i] )

//     }
// var a=Number(prompt('Enter the number'))
// var found=false
// var n=[10,90,70,58,46,10]
// for(var i=0;i<n.length;i++)
// {
// if(a==n[i] )
// {
// found=true;
// break;

// }
//  }
//  if(found==true)
//  {
//  console.log("element is found")
//  }
//  else
//  {
//     console.log("element is not found") 
//  }

//element print how many times

// var a=Number(prompt('Enter the number'))
// var found=false
// var n=[10,90,70,58,46,10]
// for(var i=0;i<n.length;i++)
// {
// if(a==n[i] )
// {
// found=true;

// }
// }
//  if(found==true)
//  {
//  console.log("element is found")
//  }

//  else
//  {
//     console.log("element is not found") 
//  }



    </script>
</body>
</html>