<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div>
        <span>
            hello
        </span>
    </div>
    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa magni excepturi nihil sapiente molestiae tenetur? Sint, 
            placeat laboriosam! Nam amet maxime repudiandae dolor fuga a itaque, aliquid hic laboriosam voluptatibus.</p>
    </div>


    <!-- <p> hhai</p>
    <p>kkkkk</p>
    <p>jafdlhi</p> -->
    <script>
        $(document).ready(function(){
            $('span').parent().css({
                'height ':'400px',
                'width':'300px',
            'background-color':'red'      
              })


            //   $('p').children().css('color','red')
            //   $('p').sibilings().css('color','red')
            //  $('p').first().css('background-color','red' )
            //  $('p').last().css('background-color','yellow' )
            //  $('p').eq(2).css('background-color','yellow' )


        })





        
    </script>
</body>
</html>