<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>




    <!-- <button onclick="alert('hai')">submit</button> -->
    <script>
        // alert('hello')
        // var a
        // console.log("hai")
        // console.log(typeof(a))
        // var a=Number(prompt("Enter the number"))

        // if (a>=20) { 
        //     console.log('you are eligible to vote')

        // }
        // else{
        //    console.log( 'not eligible')
        // }
       





        var a=20
        var b=10
//         var result=a+b
//         // console.log('result is',result)
// document.write('<b>result is </b>',result)
// // document.write('result is' ,'<b>',result,'</b>')


//         var result=a-b
//         console.log('result is',result)
// document.write('<b>result is </b>',result)
// document.write('result is' ,'<b>',result,'</b>')    


//         var result=a*b
//         console.log('result is',result)
// document.write('<b>result is </b>',result)
// document.write('result is' ,'<b>',result,'</b>')

//         var result=a/b
//         console.log('result is',result)
// document.write('<b>result is </b>',result)
// document.write('result is' ,'<b>',result,'</b>')


//         var result=a%b
//         console.log('result is',result)
// document.write('<b>result is </b>',result)
// document.write('result is' ,'<b>',result,'</b>')

// a++
// var result=a+b
//         console.log('result is',result)
// // document.write('<b>result is </b>',result)
// // document.write('result is' ,'<b>',result,'</b>')


// a--

// var result=a+b
//         console.log('result is',result)
// document.write('<b>result is </b>',result)
// document.write('result is' ,'<b>',result,'</b>')
// a--
// var result=a+b
//         console.log('result is',result)
// document.write('<b>result is </b>',result)
// document.write('result is' ,'<b>',result,'</b>')

 
// var result=a**b
//         console.log('result is',result)
// document.write('<b>result is </b>',result)
// document.write('result is' ,'<b>',result,'</b>')

// var a=10

// a+=10
//         console.log(a)


// var a=prompt('please enter the num')
// if(a%2==0)
// {
//     console.log('even')
// }
// else{
//     console.log('odd')
// }


// var a=prompt('enter the first num')
// var b=prompt('enter the second num')
// var result=Number(a)+Number(b)
// console.log('result is',result)
// or

// var a=Number(prompt('enter the first num'))
// var b=Number(prompt('enter the second num'))
// var result=(a)+(b)
// console.log('result is',result)

var a=Number(prompt('enter the first num'))
console.log(a)
var b=Number(prompt('enter the second num'))
console.log(b)
var result=(a)+(b)
console.log('result is',result)
alert('result is',result)
//   var n,flag,sum
// var a=Number(prompt('Find sum of all prime numbers between 1 to'))
// for(i=2;i<=n;i++)
// {
//     flag=1
//     for(j=2;j<=i/2;j++)
//     {
//         if(i%j==0)
//         {
//             flag=0;
//         }
//     }
//     if(flag==1)
//     {
//         sum+=i
//     }
// }
// console.log('Sum of all prime numbers between1 to',n,sum) 
    </script>
</body>
</html>