<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // var array=[1,2,100,4,5,200]
        // var largest=0;
        // for(i=0;i<array.length;i++)
        // {
        //     if(array[i]>largest)
        //     {
        //         largest=array[i];
        //     }
        // }
        // console.log(largest);





        //print secont largest-methord one
    //     var array=[1,2,100,4,5,200]
    //     var largest=0;
    // for(i=0;i<array.length;i++)
        
    //     {
    //         if(array[i]>largest)
    //         {
    //             secondlargest=largest
    //             largest=array[i]

    //         }
    //         else if(largest>array[i]>secondlargest)
    //         {
    //             secondlargest=array[i]

    //         }

    //     }
    //     console.log(secondlargest)





        //second largest method two
        // var array=[2,3,4,50,60,70]
        // var largest=0;
        // var secondlargest=0;
        // for(i=0;i<array.length;i++)
        // {
        //     if(array[i]>largest)
        //     {
        //         largest=array[i]

        //     }
        // }
        // for(var i=0;i<array.length;i++)
        // {
        //     if(array[i]==largest)
        //     {
        //         continue
        //     }
        //     else
        //     {
        //         if(array[i]>secondlargest)
        //         {
        //             secondlargest=array[i]
        //         }
        //     }
        // }
        // console.log(secondlargest)



        //largest of two numbers
        // var a=Number(prompt("Enter the first number"))
        // var b=Number(prompt("enter the second number"))
        // if(a>b)
        // {
        //     console.log(a)
        // }
        // else
        // {
        //     console.log(b)
        // }

        //largest among3
        // var a=Number(prompt("Enter the first number"))
        // var b=Number(prompt("enter the second number"))
        // var c=Number(prompt("enter the third number"))

        // if(a>b)
        // {
        //     console.log(a)
        // }
        // else if(b>c)
        // {
        //     console.log(b)
        // }
        // else{
        //     console.log(c)
        // }


       // 3digits among largest

           var a=Number(prompt("enter the number"))
           i=0;
           






    </script>
</body>
</html>