
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1 id="head">welcome to new page</h1>
    <p class="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eos quis iure obcaecati ut sint
         corporis a laborum excepturi consequuntur amet quidem explicabo est, inventore dicta illo delectus quia quibusdam?</p>
   <div class="p1">Lorem ipsum duri quas ipsa laudantium iste, omnis facilis.</div>
   <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, odio ratione earum natus nihil ipsam 
    voluptates eveniet mollitia, fugit consequatur magni nemo eligendi perspiciatis velit distinctio animi unde harum minima!</span>
<div class="div1"><p> hai hello how adr you</p></div>
<div class="div2"><p>hahaahhahahhai</p></div>
<div><p>helllo.......</p></div>
<p>
    <p class="div1">
        working     ----
    </p>
</p>

</body>
</html>