.main{
    grid-template-columns: 2fr 2fr;
    display:grid;
    
    
    
}
.tab1 td{
    border-collapse: collapse;
    border:.1px solid black;
}
.para1{
    font-size: 40px;
}

.td2{
    padding-top: 2px;
}
img[alt='pic1']{

    /* height: 50px;
    width: 30px; */
    padding-left: 75%;
    position:absolute;
}
.h1{
    padding-left: 25%;
}
.bor{
    border: 1px solid black;
}
.padd1{
    padding-left: 40%;
}
